$main-bg_color: #FFE6D2;
$header-bg-color: #232536;
$button-bg_color: rgba(68, 76, 252, 1);
$color-1:#fff;
$process-bg-color:#F9F9FF;
$border-color:rgba(35, 37, 54, 0.17);
$cta-bg-color:rgba(102, 109, 255, 1);
$footer-bg-color:rgba(255, 230, 210, 1);