@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #232536;
}
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
header .navigation .navbar {
  display: flex;
  gap: 32px;
}
header .navigation .navbar a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.6;
}
header .navigation .navbar a:hover {
  color: #FFD3AF;
  transition-duration: 0.5s;
}

main {
  margin-bottom: 96px;
}
main .header {
  margin-top: 96px;
  margin-bottom: 72px;
}
main .header .img {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .header .text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  margin-bottom: 5px;
}
main .header .text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.6;
}
main .box-container {
  background: #ECF8F9;
  padding: 96px 220px;
}
main .box-container h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 24px;
}
main .box-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
main .box-container h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

footer .cards {
  padding-top: 32px;
  padding-bottom: 14px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 204px;
}
footer .cards .card-1 {
  width: 458px;
}
footer .cards .card-1 h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  margin-bottom: 40px;
}
footer .cards .card-1 h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
  margin-bottom: 20px;
}
footer .cards .card-1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #232536;
}
footer .cards .card-2 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 120px;
}
footer .cards .card-2 .list-1 li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
footer .cards .card-2 .list-1 li a {
  color: #232536;
}
footer .cards .card-2 .list-item h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 13px;
}
footer .cards .card-2 .list-item h6 a {
  color: #232536;
}
footer .cards .card-2 .list-item li {
  margin-bottom: 12px;
}
footer .cards .card-2 .list-item li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
}/*# sourceMappingURL=style.css.map */