@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

nav {
  background-color: #232536;
}
nav .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}
nav .navigation .navbar {
  display: flex;
  gap: 32px;
}
nav .navigation .navbar a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.6;
}
nav .navigation .navbar a:hover {
  color: #FFD3AF;
  transition-duration: 0.5s;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 56px;
  padding-top: 96px;
  padding-bottom: 96px;
}
.hero .box1 {
  width: 490px;
  padding-top: 41px;
}
.hero .box1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  opacity: 0.87;
}
.hero .box1 h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  padding-bottom: 18px;
  color: #232536;
}
.hero .box1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 50px;
  color: #232536;
  opacity: 0.87;
}
.hero .box1 .click {
  width: 182px;
  padding: 0 0 20px;
  background: linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
}
.hero .box1 .click a {
  display: flex;
  align-items: flex-start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.87;
  gap: 15px;
}
.hero .box1 .click a div {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 13px;
}
.hero .box2 {
  background-color: #FFE0C7;
  display: flex;
  align-items: flex-start;
}
.hero .box2 .title {
  padding: 82px 62px 78px 80px;
}
.hero .box2 .title h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 24px;
  color: #232536;
}
.hero .box2 .title li {
  padding-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #000000;
}

.detailes {
  background-color: #ECF8F9;
  padding: 0;
}
.detailes .box {
  display: flex;
  justify-content: center;
  gap: 96px;
  padding: 43px 0 33px;
}
.detailes .box span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.detailes .line {
  width: 100%;
  height: 4px;
  background-color: #E0F1F2;
}
.detailes ul {
  list-style: disc;
  padding: 70px 219px 96px;
}
.detailes ul li {
  padding-top: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.appley {
  padding-top: 96px;
}
.appley h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  padding-bottom: 29px;
  color: #232536;
}
.appley form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-bottom: 96px;
}
.appley form input {
  background-color: #F9F9FF;
  border: none;
  padding: 34px 250px 34px 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #232536;
  opacity: 0.8;
}
.appley form .input {
  grid-column: span 2;
  padding: 34px 0 163px 40px;
}
.appley form .checkbox {
  width: 36px;
  height: 36px;
  background-color: #454DFD;
}
.appley form .box {
  margin-top: 45px;
  padding-bottom: 36px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding-right: 300px;
  grid-column: span 2;
}
.appley form .box label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.8;
}
.appley form button {
  width: 261px;
  height: 64px;
  background: linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.87;
  padding-bottom: 10px;
  padding-right: 35px;
}
.appley form button :nth-child(1) {
  position: relative;
  top: -10px;
  left: -8px;
}
.appley form button :nth-child(2) {
  position: relative;
  top: 4px;
  left: 13px;
}

.newslater .box3 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 80px;
  background: #666DFF;
}
.newslater .box3 .img1 {
  position: absolute;
  top: 0;
  left: 0;
}
.newslater .box3 .img2 {
  position: relative;
  left: 1200px;
}
.newslater .box3 .card span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.newslater .box3 .card h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  padding-top: 13px;
  color: #FFFFFF;
}
.newslater .box3 input {
  padding: 20px 202px 20px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 140px;
  text-align: right;
  color: #232536;
  border: none;
  background-color: #FFFFFF;
}

/*# sourceMappingURL=inner.css.map */
