@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import 'config';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1420px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: $header-bg-color;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        .navbar {
            display: flex;
            gap: 32px;

            a {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $color-1;
                opacity: 0.6;
            }

            a:hover {
                color: $main-bg_color;
                transition-duration: 0.5s;
            }
        }
    }
}

main {
    background: $main-bg_color;

    .parent-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 574px;
        font-family: 'Poppins';

        .header-left-box {
            width: 624px;
            height: 382px;

            .our {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 3px;
                font-weight: 500;
            }

            h2 {
                font-size: 40px;
                line-height: 58px;
                font-weight: 600;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;

            }
        }

        .services {
            width: 294px;
            height: 245px;

            h4 {
                font-weight: 600;
                font-size: 24px;
                font-family: 'Poppins';
                line-height: 36px;
            }
        }
    }
}